semantic-model/DBC-AU/xsdrt/common/UBL-QualifiedDataTypes-2.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Library:           DBC Core Invoice 1.0.1 Dev
                     http://resources.digitalbusinesscouncil.com.au/dbc/einvoicing/doctype/core-invoice/xsd/current/dbc-ci-1.0.1/
  Release Date:      13 October 2017
  Module:            DBC-AU/xsdrt/common/UBL-QualifiedDataTypes-2.1.xsd
  Generated on:      2017-10-20 03:23z
  Copyright (c) DBC 2017. All Rights Reserved.
-->
<xsd:schema xmlns="urn:oasis:names:specification:ubl:schema:xsd:QualifiedDataTypes-2"
            xmlns:udt="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="urn:oasis:names:specification:ubl:schema:xsd:QualifiedDataTypes-2"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
            version="2.1">
   <xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"
               schemaLocation="UBL-UnqualifiedDataTypes-2.1.xsd"/>
   <xsd:complexType name="AllowanceChargeReasonCodeType">
      <xsd:simpleContent>
         <xsd:restriction base="udt:CodeType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="CountryIdentificationCodeType">
      <xsd:simpleContent>
         <xsd:restriction base="udt:CodeType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="CurrencyCodeType">
      <xsd:simpleContent>
         <xsd:restriction base="udt:CodeType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="DocumentTypeCodeType">
      <xsd:simpleContent>
         <xsd:restriction base="udt:CodeType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="PaymentMeansCodeType">
      <xsd:simpleContent>
         <xsd:restriction base="udt:CodeType"/>
      </xsd:simpleContent>
   </xsd:complexType>
</xsd:schema>
<!-- ===== Copyright Notice ===== --><!--
  Copyright DBC
  
  Portions copyright OASIS-Open 2016
-->